{$SERVER_NAME} {
	handle /uploads/* {
		root * /srv
		file_server
	}
	reverse_proxy frontend:3000
}

# Bloquer tout accès direct par IP ou hôte inconnu
:80 {
	respond 444
}

:443 {
	tls internal
	respond 444
}
